@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Roboto','Ubuntu', sans-serif;
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    box-sizing:border-box;
    min-height: 100vh;
  
}
.header{
    background-color: #1f2937;
}
.header .top{
    color:#f9faf8;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1em 2em;
    margin-bottom:2em;
}

nav a
{
    margin:1em;
}
.top > img{
    width:clamp(60px,4vw,5vw);
    height:auto;
    
}
a{
    color:#f9faf8;
    text-decoration: none;
   
}
.banner{
    display:flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap:wrap;
    margin:1em 1em 2em 1em;
}
.banner h1
{
   font-size:48px;
   color:#f9faf8;
   font-weight: 900;
   margin-bottom:0.5em;
}

.banner p{
    font-size:18px;
    color:#e5e7eb;
   
}
.banner button{
    background-color: #3882f6;
    color:#f9faf8;
    padding:0.75em 1.25em;
    border:none;
    border-radius:0.75em;
    font-size:1rem;
    cursor:pointer;
}
.banner > img{
    width:20vw;
    height: auto;
    border-radius:0.5rem;
    margin:1.5rem;
}
.content-header{
    display:flex;
    justify-content:center;
    font-size:2.5rem;
    font-weight: 900;
    margin-bottom:0.25em;

}
.content{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding:0.90em;
    gap:0.9em;
    margin-bottom:3.1em;
   
}
.card{
    margin-top:0.75em;
    width:clamp(200px,15vw,20vw);
    border:0.20rem solid #3882f6;
    transition: all 0.25s ease-in-out;
    border-radius:4px;
    padding:16px;
}
.card a{
    color:#1f2937;  
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -6px;
}

.quote{
    background-color:#e5e7eb;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding: 1.5em;
    text-align:center;
    flex-wrap:wrap;
}
.quote h1{
    font-size:2em;
    color:#1f2937;
    font-weight: 900;
    font-style: italic;
    font-weight:500;
    margin-bottom:0px;
    text-align:center;
}
.quote p{
    font-size:1.5em;
    color:#1f2937;
    font-weight: 900;
    text-align:right;
}

article{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}
.sign-up{
    background-color: #3882F6;
    width:35%;
    padding: 0.5em 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    color: #f9faf8;
    flex-wrap:wrap;
}

.sign-up-form input,.sign-up-form textarea{
    font-family: 'Roboto','Ubuntu', sans-serif;
    background-color: #f9faf8;
    margin: 0.6em;
    padding: 0.6em;
    border-radius: 0.25em;
    border: none;
    width: 100%;
    vertical-align:bottom;
    height:2.25em;
    display:flex;
    flex:1;
    flex-wrap:wrap;
}

.sign-up-form h3{
    font-size: 1.5rem;
    font-weight: 500px;
    margin-bottom: 1em;
    text-align:center;
}

.sign-up-form button{
    color: #fff;
    border-color: #fff;
    border-radius: 0.5em;
    background-color: #3882F6;
    padding: 0.25em 1.5em;
    font-size: 1rem;
    margin:1rem;
    display:flex;
    justify-self: flex-end;
}

.footer{
    background-color: #1f2937;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#f9faf8;
    font-size:1.25rem;
    font-weight: 900;
}